In [1]:
"""
Detailed attendee list as required by the IBB.
"""

import random

import pandas as pd

# IBB TN

In [2]:
attendees_list = pd.read_excel(
    "/Users/hendorf/Documents/SyncThing/Vorstand/2023/Kongressfonds Berlin/Eingereichte Unterlagen/Teilnehmer/raw data/Teilnehmerliste-tito.xlsx",
)
orders = pd.read_excel(
    "/Users/hendorf/Documents/SyncThing/Vorstand/2023/Kongressfonds Berlin/Eingereichte Unterlagen/Teilnehmer/raw data/Bestellungen-tito.xlsx"
)

In [3]:
attendees_list.head(3)

,Number,Ticket Created Date (+02:00 Berlin),Ticket Last Updated Date (+02:00 Berlin),Ticket,Ticket Full Name,Ticket First Name,Ticket Last Name,Ticket Email,Ticket Company Name,Ticket Phone Number,...,What's your gender? Select or type below,When do you need childcare?,Which better describes your area of Python?,Which Python data type do you like the most?,Would you like a T-Shirt?,seat,online,social event,print badge,sponsor
0,9,2023-01-16 12:01:51,2023-01-16 12:10:50,Student (in-person),Christian Kunkel,Christian,Kunkel,kunkel@fhi.mpg.de,Fritz-Haber-Institut der MPG,NaN,...,male,NaN,Data,Dictionary,Fitted Large,Y,NaN,NaN,Y,NaN
1,10,2023-01-16 12:02:00,2023-03-06 10:27:18,Business (in-person),Mate Bendeguz Kovacs,Mate Bendeguz,Kovacs,mako@hellofresh.com,NaN,NaN,...,male,NaN,Software Development,List,Fitted Medium,Y,NaN,NaN,Y,NaN
2,11,2023-01-16 12:02:00,2023-03-29 15:42:55,Business (in-person),Adrián Hernández Obradors,Adrián,Hernández Obradors,adrian.obradors@hellofresh.com,HelloFresh,NaN,...,male,NaN,Software Development,Dictionary,Fitted Medium,Y,NaN,NaN,Y,NaN

In [4]:
attendees_list.columns

Index(['Number', 'Ticket Created Date (+02:00 Berlin)',
       'Ticket Last Updated Date (+02:00 Berlin)', 'Ticket',
       'Ticket Full Name', 'Ticket First Name', 'Ticket Last Name',
       'Ticket Email', 'Ticket Company Name', 'Ticket Phone Number', 'Event',
       'Void Status', 'Price', 'Discount Status', 'Ticket Reference', 'Tags',
       'Unique Ticket URL', 'Unique Order URL', 'Order Reference',
       'Order Name', 'Order Email', 'Order Phone Number',
       'Order Discount Code', 'Order IP', 'Order Created Date (+02:00 Berlin)',
       'Order Completed Date (+02:00 Berlin)', 'Order Paid With',
       'Order Amount', 'Order Amount Refunded', 'Payment Reference', 'Source',
       'Source Type', 'vCard URL', 'Are you a member of Pyladies',
       'Child's age', 'Child's name', 'Code of Conduct',
       'Country of residence', 'Data Surprise', 'Dietary restrictions',
       'Do you have any additional accessibility needs?',
       'Do you prefer working', 'Github',
       'Hereby I confirm being entitled to an Individual ticket',
       'How do you like your water?',
       'How far are  you traveling to come to Berlin?',
       'If you identify as a member of an underrepresented group (URG) please let us know more below, otherwise skip',
       'If you could choose one superpower:',
       'If you had to play something, would you rather play:', 'LinkedIn',
       'Mastodon',
       'May we share your name, email, job title, and company with designated sponsor groups?',
       'Position/Role', 'Pronouns for badge', 'Twitter',
       'What's your gender? Select or type below',
       'When do you need childcare?',
       'Which better describes your area of Python?',
       'Which Python data type do you like the most?',
       'Would you like a T-Shirt?', 'seat', 'online', 'social event',
       'print badge', 'sponsor'],
      dtype='object')

#### Art der Teilnahme
Via ticketname ermittelt

In [5]:
attendees_list["Art der Teilnahme"] = attendees_list["Ticket"].map(
    lambda x: "remote" if "online" in x.lower() else (
        "remote" if "remote" in x.lower() else "vor Ort"))
(attendees_list["Art der Teilnahme"] != "remote").sum()

1383

In [6]:
attendees_list[attendees_list["Ticket"].map(lambda x: "day" in x)].sort_values("Ticket Full Name").head(100)

,Number,Ticket Created Date (+02:00 Berlin),Ticket Last Updated Date (+02:00 Berlin),Ticket,Ticket Full Name,Ticket First Name,Ticket Last Name,Ticket Email,Ticket Company Name,Ticket Phone Number,...,When do you need childcare?,Which better describes your area of Python?,Which Python data type do you like the most?,Would you like a T-Shirt?,seat,online,social event,print badge,sponsor,Art der Teilnahme
1282,1389,2023-03-24 16:26:08,2023-03-27 16:40:41,Sponsor Day Pass Wednesday,Adam Schroeder,Adam,Schroeder,adam@plot.ly,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,vor Ort
1281,1388,2023-03-24 16:26:08,2023-03-27 16:40:14,Sponsor Day Pass Tuesday,Adam Schroeder,Adam,Schroeder,adam@plot.ly,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,vor Ort
1280,1387,2023-03-24 16:26:08,2023-03-27 16:39:37,Sponsor Day Pass Monday,Adam Schroeder,Adam,Schroeder,adam@plot.ly,NaN,NaN,...,NaN,Community,Dictionary,Straight-cut Medium,Y,NaN,NaN,Y,NaN,vor Ort
1732,1847,2023-04-13 13:17:17,2023-04-13 13:23:36,Sponsor Day Pass Monday,Ali Gündüz,Ali,Gündüz,ali.guenduez@snowflake.com,NaN,NaN,...,NaN,Data,Dictionary,NaN,Y,NaN,NaN,Y,NaN,vor Ort
1053,1156,2023-03-21 05:10:09,2023-04-04 11:23:55,Sponsor Day Pass Wednesday,Anders Rex,Anders,Rex,anders@coiled.io,NaN,NaN,...,NaN,Web Development,Dictionary,NaN,NaN,NaN,NaN,Y,NaN,vor Ort
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1233,1340,2023-03-24 11:29:00,2023-04-04 10:00:46,Sponsor Day Pass Monday,Stefan Elmlinger,Stefan,Elmlinger,stefan.elmlinger@adevinta.com,NaN,NaN,...,NaN,Software Development,Dictionary,NaN,Y,NaN,NaN,Y,NaN,vor Ort
1508,1618,2023-03-29 11:20:55,2023-03-29 11:22:21,Sponsor Day Pass Tuesday,Veronika Sarkisian,Veronika,Sarkisian,vsa@honeypot.io,NaN,NaN,...,NaN,Data,List,Straight-cut Medium,NaN,NaN,NaN,Y,NaN,vor Ort
1463,1573,2023-03-28 14:13:36,2023-03-28 17:03:22,Sponsor Day Pass Tuesday,Yann Lemonnier,Yann,Lemonnier,yann.lemonnier@adevinta.com,NaN,NaN,...,NaN,Data,MagicMock,Fitted Medium,NaN,NaN,NaN,Y,NaN,vor Ort
1472,1582,2023-03-28 17:12:45,2023-04-04 14:44:14,Sponsor Day Pass Wednesday,Yann Lemonnier,Yann,Lemonnier,yann.lemonnier@adevinta.com,NaN,NaN,...,NaN,Data,MagicMock,NaN,NaN,NaN,NaN,Y,NaN,vor Ort
1442,1552,2023-03-27 18:45:34,2023-04-16 21:02:19,Sponsor Day Pass Wednesday,Yizhar (Izzy) Toren,Yizhar (Izzy),Toren,yizhar.toren@shopify.com,NaN,NaN,...,NaN,Data,Dictionary,NaN,NaN,NaN,NaN,Y,NaN,vor Ort

In [7]:
orders.columns

Index(['Reference', 'Name', 'Email', 'Created Date (+02:00 Berlin)',
       'Completed Date (+02:00 Berlin)', 'Unique URL', 'Total Due (EUR)',
       'Total Paid (EUR)', 'Payment Status', 'IP', 'Address 1', 'Address 2',
       'Address 3', 'City', 'State/Province/Region', 'Zip/Postal Code',
       'Country', 'Company Name', 'VAT Number', 'Receipt Number',
       'Payment Reference', 'Paid With', 'Discount Code', 'Refund Status',
       'Refund Description', 'Total Refunded (EUR)', 'Tickets Voided',
       'Source', 'Source Type',
       'Business Late Bird on DESK Quantity (73jsxucou5y)',
       'Individual ON DESK Quantity (btnr1ufto74)',
       'Student ON DESK Quantity (1ea29m5l5ze)',
       'Business Late Bird (online access) Quantity (business-late-bird-online-access)',
       'Individual Late Bird (online access) Quantity (individual-late-bird-online-access)',
       'Student Late Bird (online access) Quantity (student-late-bird-online-access)',
       'Business Late Bird (in-person) Quantity (business-late-bird-in-person)',
       'Individual Late Bird (in-person) Quantity (individual-late-bird-in-person)',
       'Student Late Bird (in-person) Quantity (student-late-bird-in-person)',
       'Individual Day Pass Grant Quantity (individual-late-bird-online-access-copy)',
       'Business (in-person) Quantity (business-in-person)',
       'Business (in-person) Quantity (ip-e6a05qfw)',
       'Sponsor Discounted Extra Ticket Quantity (aqa53aoofvi)',
       'Individual (in-person) Quantity (individual-in-person)',
       'Individual (in-person) Childcare Quantity (mrrpqco4yo)',
       'Student (in-person) Quantity (student-in-person)',
       'Business (online access) Quantity (business-online-access)',
       'Sponsor Discounted Ticket (online access) Quantity (1rqirh810pi)',
       'Student-Individual Upgrade Quantity (ldl8h-ozlts)',
       'Individual (online access) Quantity (individual-online-access)',
       'Student (online access) Quantity (student-online-access)',
       'Childcare Quantity (790dk0tj2w4)',
       'Speaker (on site) Quantity (b4ld99wzbey)',
       'Additional Speaker (on site) Quantity (2kp-3ednpug)',
       'Speaker (remote) Quantity (omqbtdgy1vw)',
       'Organizer Quantity (grp8pttgrys)',
       'Organizer (online access) Quantity (organizer-copy)',
       'Volunteer (in-person) Quantity (eqokowe9uni)',
       'Volunteer (remote) Quantity (3lik19n3v60)',
       'Individual (in-person) Grant Quantity (individual-in-person-grant)',
       'Online Access Grant Quantity (qf1jgxpsb0e)',
       'Sponsor Ticket Quantity (brguzkdrtjy)',
       'Sponsor Day Pass Monday Quantity (sponsor-day-pass-monday)',
       'Sponsor Day Pass Tuesday Quantity (sponsor-day-pass-tuesday)',
       'Sponsor Day Pass Wednesday Quantity (sponsor-day-pass-wednesday)',
       'Social Gathering, April 18 bcc Quantity (dvtzud-hwn8)',
       'Keynote Quantity (hmmfug2zseg)',
       'Luggage Monday Quantity (uu-otpq-y5k)',
       'Luggage Tuesday Quantity (luggage-tuesday)',
       'Luggage Wednesday Quantity (luggage-wednesday)',
       'Test Ticket Quantity (test)'],
      dtype='object')

#### Kennzeichnung Tagesticket für Tagauswahl

In [8]:
for day in ["Monday", "Tuesday", "Wednesday"]:
    attendees_list[day] = attendees_list["Ticket"].map(
        lambda x: True if "day" not in x.lower() else (
            True if day.lower() in x.lower() else False))

In [9]:
attendees_list_ibb = attendees_list[
["Order Reference", "Ticket Full Name", "Ticket Company Name", "Country of residence", 
 "Art der Teilnahme", "Monday", "Tuesday", "Wednesday"]
]

#### Orders

In [10]:
orders_ibb = orders[["Reference", "City", 'Country', 'Company Name', "Address 1", "Address 2", "Address 3"]]
orders_ibb

,Reference,City,Country,Company Name,Address 1,Address 2,Address 3
0,KPXF,Schifferstadt,Germany,NaN,Jakobsgasse,3,NaN
1,HJ37,Unterföhring,Germany,TNG Technology Consulting GmbH,NaN,TNG Technology Consulting GmbH,\nUmsatzsteuer-ID-Nr.: DE212842911\n\nBeta-Str...
2,WYBA,Aurich,Germany,WRD GmbH,NaN,WRD GmbH,Borsigstr. 26\n26607 Aurich\nGermany
3,ABE3,Niestetal,Germany,SMA Solar Technology AG,Sonnenallee 1,NaN,NaN
4,HLHW,Niestetal,Germany,SMA Solar Technology AG,Sonnenallee 1,NaN,NaN
...,...,...,...,...,...,...,...
1956,PLBM,NaN,United States,NaN,NaN,NaN,NaN
1957,TNCC,NaN,United States,NaN,NaN,NaN,NaN
1958,PYKE,NaN,United States,NaN,NaN,NaN,NaN
1959,HRGS,NaN,United States,NaN,NaN,NaN,NaN
1960,W8BD,NaN,United States,NaN,NaN,NaN,NaN

#### Merge Attendees / Orders

In [11]:
all_infos = pd.merge(
    attendees_list_ibb.rename(columns={"Order Reference": "Reference"}), 
    orders_ibb, on=["Reference"], 
    how="left")

In [12]:
all_infos

,Reference,Ticket Full Name,Ticket Company Name,Country of residence,Art der Teilnahme,Monday,Tuesday,Wednesday,City,Country,Company Name,Address 1,Address 2,Address 3
0,K4RD,Christian Kunkel,Fritz-Haber-Institut der MPG,Germany,vor Ort,True,True,True,Berlin,Germany,"Fritz-Haber-Institut Berlin, Faradayweg 4-6",Fritz-Haber-Institut der Max-Planck-Gesellschaft,NaN,Faradayweg 4-6
1,GJNX,Mate Bendeguz Kovacs,NaN,Germany,vor Ort,True,True,True,Berlin,Germany,Hellofresh,"HelloFresh SE, Prinzenstr. 89",NaN,NaN
2,GJNX,Adrián Hernández Obradors,HelloFresh,Germany,vor Ort,True,True,True,Berlin,Germany,Hellofresh,"HelloFresh SE, Prinzenstr. 89",NaN,NaN
3,GJNX,Ivan Mikhalchenko,NaN,Germany,vor Ort,True,True,True,Berlin,Germany,Hellofresh,"HelloFresh SE, Prinzenstr. 89",NaN,NaN
4,GJNX,Nikolas Schriefer,HelloFresh,Germany,vor Ort,True,True,True,Berlin,Germany,Hellofresh,"HelloFresh SE, Prinzenstr. 89",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1810,AWG2,Adrien Ruault,NaN,NaN,vor Ort,True,True,True,Lausanne,Germany,NaN,Rue de la tour 3,NaN,NaN
1811,VBDG,Guillaume Mollard,NaN,NaN,vor Ort,True,True,True,Lausanne,Switzerland,NaN,5 avenue de la Gare,NaN,NaN
1812,XFMX,Frederic Evers,Stadtwerke Duisburg Energiehandel GmbH,Germany,remote,True,True,True,Duisburg,Germany,Stadtwerke Duisburg Energiehandel GmbH,Bungertstraße 17,NaN,NaN
1813,AWL7,Samuel King,Briink Intelligence GmbH,NaN,remote,True,True,True,Berlin,Germany,Briink Intelligence GmbH,"Briink, AI campus, Max-Urich-Straße 3, 13355",NaN,NaN
1814,XVU1,Marvin S. Mueller,2XIdeas Switzerland AG,NaN,remote,True,True,True,Zurich,Switzerland,2XIdeas Switzerland AG,Seestrasse 39,NaN,NaN

In [13]:
all_infos["Country"] = all_infos["Country"].fillna("Germany")
all_infos["Country"].sort_values()

394           Armenia
1134        Australia
1220          Austria
1707          Austria
1615          Austria
            ...
1731    United States
1047    United States
1048    United States
1050    United States
930     United States
Name: Country, Length: 1815, dtype: object

In [14]:
all_infos["City"].sort_values()

1728     Dillingen
235      Karlsruhe
1793             -
48          Aachen
1364        Aachen
           ...
1695           NaN
1697           NaN
1748           NaN
1789           NaN
1809           NaN
Name: City, Length: 1815, dtype: object

In [15]:
all_infos[all_infos["City"].isna()]

,Reference,Ticket Full Name,Ticket Company Name,Country of residence,Art der Teilnahme,Monday,Tuesday,Wednesday,City,Country,Company Name,Address 1,Address 2,Address 3
418,2291,Yashas Vaidya,NaN,Netherlands,vor Ort,True,True,True,NaN,Germany,NaN,NaN,NaN,NaN
904,C5BF,Jaime Rodríguez-Guerra,Quansight,Germany,vor Ort,True,True,True,NaN,Germany,Quansight,NaN,NaN,NaN
905,M7BL,Micayla Wood,Shopify,Canada,vor Ort,True,True,True,NaN,Canada,Shopify,NaN,NaN,NaN
906,M7BL,Alicia Bargar,Shopify,Netherlands,vor Ort,True,True,True,NaN,Canada,Shopify,NaN,NaN,NaN
907,M7BL,Yizhar Toren,Shopify,Germany,vor Ort,True,True,True,NaN,Canada,Shopify,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1695,AJ3D,Aleksandr Ogaltsov,NaN,NaN,vor Ort,True,True,True,NaN,Germany,NaN,NaN,NaN,NaN
1697,GFLX,Sarthak Taneja,NaN,NaN,vor Ort,True,True,True,NaN,Germany,NaN,NaN,NaN,NaN
1748,W4GM,Mirjam Langer,NaN,Germany,remote,True,True,True,NaN,Germany,NaN,NaN,NaN,NaN
1789,8999999999999999886535157000818686956251856111...,Prapti Bajaj,NaN,Germany,remote,True,True,True,NaN,Germany,NaN,NaN,NaN,NaN
1809,UM78,Sabine Wolf,NaN,Germany,remote,True,True,True,NaN,Germany,NaN,NaN,NaN,NaN

In [16]:
all_infos[~all_infos["Country"].astype(bool)]

Empty DataFrame
Columns: [Reference, Ticket Full Name, Ticket Company Name, Country of residence, Art der Teilnahme, Monday, Tuesday, Wednesday, City, Country, Company Name, Address 1, Address 2, Address 3]
Index: []

In [17]:
luggage_no_wednesday = pd.read_excel("/Users/hendorf/Documents/SyncThing/Vorstand/2023/Kongressfonds Berlin/Eingereichte Unterlagen/Teilnehmer/raw data//luggage-tuesday.xlsx")
luggage_no_wednesday

,Number,Ticket Created Date (+02:00 Berlin),Ticket Last Updated Date (+02:00 Berlin),Ticket,Ticket Full Name,Ticket First Name,Ticket Last Name,Ticket Email,Ticket Company Name,Ticket Phone Number,...,What's your gender? Select or type below,When do you need childcare?,Which better describes your area of Python?,Which Python data type do you like the most?,Would you like a T-Shirt?,seat,online,social event,print badge,sponsor
0,1897,2023-04-15 08:21:23,2023-04-15 08:21:41,Luggage Tuesday,Marlene Ellenrieder,Marlene,Ellenrieder,marlene.ellenrieder@gmail.com,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2338,2023-04-17 17:57:49,2023-04-17 17:57:49,Luggage Tuesday,Nikolas Schriefer,Nikolas,Schriefer,nikolas.schriefer@hellofersh.com,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2403,2023-04-18 08:18:23,2023-04-18 08:18:23,Luggage Tuesday,Chen Xu,Chen,Xu,chen.xu1@rwth-aachen.de,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
luggage_no_wednesday["Ticket Full Name"]

0    Marlene Ellenrieder
1      Nikolas Schriefer
2                Chen Xu
Name: Ticket Full Name, dtype: object

In [19]:
all_infos["Wednesday"] = all_infos["Ticket Full Name"].map(lambda x: False if x in set(luggage_no_wednesday["Ticket Full Name"]) else True)

In [20]:
import json
from datetime import datetime

speakers_days = json.load(open("/Users/hendorf/Documents/SyncThing/Vorstand/2023/Kongressfonds Berlin/Eingereichte Unterlagen/Teilnehmer/raw data/pyconde-pydata-berlin-2023_sessions.json"))
speaker_days = {}
for o in speakers_days:
    day = datetime.strptime(o["Start"], "%Y-%m-%dT%H:%M:%S+00:00")
    for s in o["Speaker names"]:
        try:
            speaker_days[day.weekday()].add(s)
        except KeyError:
            speaker_days[day.weekday()] = set([s])
speaker_days

{2: {'AbdealiLoKo',
  'Aleksander Molak',
  'Amit Verma',
  'Antoine Toubhans',
  'Antonia Scherz',
  'Asher Sterkin',
  'Corrie Bartelheimer',
  'Damian Bogunowicz',
  'David Andersson',
  'Dishant Sethi',
  'Etzik Bega',
  'Guillem Borrell',
  'Gunar Maiwald',
  'Jens Agerberg',
  'Jens Nie',
  'Jeremy Tuloup',
  'John Sandall',
  'Jonathan  Brandt',
  'Joris Van den Bossche',
  'Jürgen Gmach',
  'KIlian Kluge',
  'Larissa Haas',
  'Leonard Püttmann',
  'Lev Konstantinovskiy',
  'Luis Fernando Alvarez',
  'Maren Westermann',
  'Max Kahan',
  'Maxim Danilov',
  'Miroslav Šedivý',
  'Nandana Sreeraj',
  'Noé Achache',
  'Pasha Finkelshteyn',
  'Paul Elvers',
  'Paula Gonzalez Avalos',
  'Pavel Zwerschke',
  'Robert Lange',
  'Sanket Verma',
  'Sarthika Dhawan',
  'Shahriyar Rzayev',
  'Tereza Iofciu',
  'Tobias Senst',
  'Vibha Vikram Rao',
  'Vikram Waradpande',
  'Wiktoria Dalach',
  'Yasin Tatar',
  'Yuichiro Tachibana',
  'samsja'},
 0: {'Alexander Vosseler',
  'Alicia Bargar',
  'Anna-Lena Popkes',
  'Antonio Cuni',
  'Avanindra Kumar Pandeya',
  'Caner Turkmen',
  'Cheuk Ting Ho',
  'Christian Bourjau',
  'Clara Hoffmann',
  'Cole Bailey',
  'Ellen König',
  'Emeli Dral',
  'Felix Wick',
  'Florian Wilhelm',
  'Heiner Tholen',
  'Ines Montani',
  'Jakub Bachurski',
  'Joris Van den Bossche',
  'Kolja Maier',
  'Lisa Andreevna Chalaguine',
  'Martin Wistuba',
  'Mathis Lucka',
  'Matthias Fey',
  'Michael Gorkow',
  'Nico Kreiling',
  'Oleksandr Shchur',
  'Patrick Blöbaum',
  'Patrick Hoefler',
  'Ramona Bendias',
  'Stephan Sahm',
  'Susan Shu Chang',
  'Sven Oehler',
  'Thomas Bierhance',
  'Thomas Fraunholz',
  'Tim Bossenmaier',
  'Tobias Sterbak',
  'Vadim Nelidov'},
 1: {'Alejandro Saucedo',
  'Alexander CS Hendorf',
  'Alina Bickel',
  'Andreas Leed',
  'Anna Achenbach',
  'Artem Kislovskiy',
  'Bruno Vollmer',
  'Carsten Binnig',
  'Chazareix Arnault',
  'Christopher Prohm',
  'Daryna Dementieva',
  'Dr. Thomas Wiecki',
  'Erin Mikail Staples',
  'Gregor Riegler',
  'Guido Imperiale',
  'Hendrik Makait',
  'Inga Janczuk',
  'Katrin Reininger',
  'Lea Petters',
  'Lev Konstantinovskiy',
  'Marcus Tedesco',
  'Marianne Stecklina',
  'Martin Christen',
  'Martin Grund',
  'Michele Dallachiesa',
  'Mike Müller',
  'Nico Kreiling',
  'Nikolai',
  'Nitsan Avni',
  'Noa Tamir',
  'Paolo Melchiorre',
  'Patrick Hoefler',
  'Robin Raymond',
  'Severin Schmitt',
  'Simon Pressler',
  'Suzin You',
  'Theodore Meynard',
  'Thorsten Kranz',
  'Tim Hoffmann',
  'Travis Hathaway',
  'Tvrtko Sternak',
  'Valerio Maggio',
  'Victoria Slocum',
  'Yann Lemonnier',
  'Yuqiong Weng'}}

In [21]:
all_infos_bcc = all_infos[all_infos["Art der Teilnahme"]=="vor Ort"].reset_index()
all_infos_bcc

,index,Reference,Ticket Full Name,Ticket Company Name,Country of residence,Art der Teilnahme,Monday,Tuesday,Wednesday,City,Country,Company Name,Address 1,Address 2,Address 3
0,0,K4RD,Christian Kunkel,Fritz-Haber-Institut der MPG,Germany,vor Ort,True,True,True,Berlin,Germany,"Fritz-Haber-Institut Berlin, Faradayweg 4-6",Fritz-Haber-Institut der Max-Planck-Gesellschaft,NaN,Faradayweg 4-6
1,1,GJNX,Mate Bendeguz Kovacs,NaN,Germany,vor Ort,True,True,True,Berlin,Germany,Hellofresh,"HelloFresh SE, Prinzenstr. 89",NaN,NaN
2,2,GJNX,Adrián Hernández Obradors,HelloFresh,Germany,vor Ort,True,True,True,Berlin,Germany,Hellofresh,"HelloFresh SE, Prinzenstr. 89",NaN,NaN
3,3,GJNX,Ivan Mikhalchenko,NaN,Germany,vor Ort,True,True,True,Berlin,Germany,Hellofresh,"HelloFresh SE, Prinzenstr. 89",NaN,NaN
4,4,GJNX,Nikolas Schriefer,HelloFresh,Germany,vor Ort,True,True,False,Berlin,Germany,Hellofresh,"HelloFresh SE, Prinzenstr. 89",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1378,1787,ILTX,Rupesh Gelal,Nepal Engineering College,Nepal,vor Ort,True,True,True,Changunarayan,Nepal,Nepal Engineering College,NaN,NaN,NaN
1379,1804,BPS1,Maximilian Linhoff,NaN,NaN,vor Ort,True,True,True,Dortmund,Germany,NaN,Zechenstraße 136,NaN,NaN
1380,1805,6JNJ,Timon Vogt,NaN,NaN,vor Ort,True,True,True,Göttingen,Germany,NaN,Am Wochenmarkt 22,NaN,NaN
1381,1810,AWG2,Adrien Ruault,NaN,NaN,vor Ort,True,True,True,Lausanne,Germany,NaN,Rue de la tour 3,NaN,NaN
1382,1811,VBDG,Guillaume Mollard,NaN,NaN,vor Ort,True,True,True,Lausanne,Switzerland,NaN,5 avenue de la Gare,NaN,NaN

In [22]:
all_infos_bcc["Ticket Company Name"] = all_infos_bcc["Ticket Company Name"].fillna(all_infos_bcc["Company Name"])

In [23]:
all_cities = {x.lower() for x in list(all_infos_bcc["City"]) if isinstance(x, str)}

In [24]:
def fill_city(address):
    for city in all_cities:
        if city in address.lower():
            return city.title().strip()

In [25]:
all_infos_bcc[["Address 1",	"Address 2", "Address 3"]]

,Address 1,Address 2,Address 3
0,Fritz-Haber-Institut der Max-Planck-Gesellschaft,NaN,Faradayweg 4-6
1,"HelloFresh SE, Prinzenstr. 89",NaN,NaN
2,"HelloFresh SE, Prinzenstr. 89",NaN,NaN
3,"HelloFresh SE, Prinzenstr. 89",NaN,NaN
4,"HelloFresh SE, Prinzenstr. 89",NaN,NaN
...,...,...,...
1378,NaN,NaN,NaN
1379,Zechenstraße 136,NaN,NaN
1380,Am Wochenmarkt 22,NaN,NaN
1381,Rue de la tour 3,NaN,NaN
1382,5 avenue de la Gare,NaN,NaN

In [26]:
#all_infos_bcc["address"]
all_infos_bcc["address"] = (
    " " + 
    all_infos_bcc["Company Name"].astype(str) + "  " + 
    all_infos_bcc["Address 1"].astype(str) + "  " + 
    all_infos_bcc["Address 2"].astype(str) + "  " + 
    all_infos_bcc["Address 3"].astype(str) + " "
).map(lambda x: x.replace(" nan ", ""))

In [27]:
all_infos_bcc["address"].map(fill_city)

0       Berlin
1         None
2         None
3         None
4         None
         ...
1378      None
1379      None
1380      None
1381      None
1382      None
Name: address, Length: 1383, dtype: object

In [28]:
all_infos_bcc["City"].fillna(all_infos_bcc["address"].map(fill_city)).isna().sum()

128

In [29]:
all_infos_bcc.describe()

             index
count  1383.000000
mean    797.545192
std     488.148805
min       0.000000
25%     376.500000
50%     744.000000
75%    1217.500000
max    1811.000000

#### Zuweisung Firma

In [30]:
all_infos_bcc["Teilnehmende Person"] = all_infos_bcc["Ticket Full Name"]
all_infos_bcc["Organisation"] = all_infos_bcc["Ticket Company Name"]
all_infos_bcc["Land"] = all_infos_bcc["Country"] 
all_infos_bcc["Stadt"] = all_infos_bcc["City"]

In [31]:
all_infos_bcc[all_infos_bcc["Monday"]].shape[0]

1320

In [32]:
all_infos_bcc[all_infos_bcc["Tuesday"]].shape[0]

1318

In [33]:
all_infos_bcc[all_infos_bcc["Wednesday"]].shape[0]

1380

In [34]:
all_infos_bcc[["Teilnehmende Person", "Organisation", "Land", "Stadt", "Art der Teilnahme", "Monday", "Tuesday", "Wednesday"]]

,Teilnehmende Person,Organisation,Land,Stadt,Art der Teilnahme,Monday,Tuesday,Wednesday
0,Christian Kunkel,Fritz-Haber-Institut der MPG,Germany,Berlin,vor Ort,True,True,True
1,Mate Bendeguz Kovacs,Hellofresh,Germany,Berlin,vor Ort,True,True,True
2,Adrián Hernández Obradors,HelloFresh,Germany,Berlin,vor Ort,True,True,True
3,Ivan Mikhalchenko,Hellofresh,Germany,Berlin,vor Ort,True,True,True
4,Nikolas Schriefer,HelloFresh,Germany,Berlin,vor Ort,True,True,False
...,...,...,...,...,...,...,...,...
1378,Rupesh Gelal,Nepal Engineering College,Nepal,Changunarayan,vor Ort,True,True,True
1379,Maximilian Linhoff,NaN,Germany,Dortmund,vor Ort,True,True,True
1380,Timon Vogt,NaN,Germany,Göttingen,vor Ort,True,True,True
1381,Adrien Ruault,NaN,Germany,Lausanne,vor Ort,True,True,True
1382,Guillaume Mollard,NaN,Switzerland,Lausanne,vor Ort,True,True,True

In [35]:
all_infos_bcc[["Teilnehmende Person", "Organisation", "Land", "Stadt", "Art der Teilnahme"]].describe()

       Teilnehmende Person Organisation     Land   Stadt Art der Teilnahme
count                 1382         1285     1383    1253              1383
unique                1343          652       39     275                 1
top               Jina Kim   Freelancer  Germany  Berlin           vor Ort
freq                     4           43     1088     314              1383

In [36]:
all_infos_bcc["Organisation"].isnull().sum()

98

In [37]:
all_infos_bcc["Stadt"].value_counts()[:20]

Stadt
Berlin               314
München               96
Karlsruhe             63
Bonn                  45
Hamburg               30
Köln                  28
Leipzig               27
Munich                26
Dortmund              23
Frankfurt am Main     18
Paris                 18
Stockholm             13
Heidelberg            12
Mannheim              11
London                10
Oslo                   8
Oldenburg              8
Lübeck                 8
Bern                   8
Marl                   8
Name: count, dtype: int64

In [38]:
all_infos_bcc["Land"].value_counts()[:20]

Land
Germany           1088
United States       31
Switzerland         30
France              21
Belgium             19
Netherlands         18
United Kingdom      16
Sweden              14
Norway              14
Canada              14
Denmark             13
Poland              10
Spain                9
Czechia              8
India                7
Israel               7
Lithuania            7
Austria              6
Slovenia             6
Italy                6
Name: count, dtype: int64

In [39]:
all_infos_bcc["Land"].value_counts().size

39

In [40]:
all_infos_bcc["Land"].value_counts() / all_infos_bcc["Land"].size

Land
Germany            0.786696
United States      0.022415
Switzerland        0.021692
France             0.015184
Belgium            0.013738
Netherlands        0.013015
United Kingdom     0.011569
Sweden             0.010123
Norway             0.010123
Canada             0.010123
Denmark            0.009400
Poland             0.007231
Spain              0.006508
Czechia            0.005785
India              0.005061
Israel             0.005061
Lithuania          0.005061
Austria            0.004338
Slovenia           0.004338
Italy              0.004338
Cyprus             0.002892
Romania            0.002892
Hungary            0.002892
Turkey             0.002892
Ireland            0.002169
Portugal           0.002169
Estonia            0.001446
Malta              0.001446
Croatia            0.001446
North Macedonia    0.001446
Armenia            0.000723
Nicaragua          0.000723
Australia          0.000723
Japan              0.000723
Ecuador            0.000723
Finland            0.000723
Ethiopia           0.000723
Singapore          0.000723
Nepal              0.000723
Name: count, dtype: float64

In [41]:
all_infos_bcc["Organisation"].value_counts()[:20]

Organisation
Freelancer                         43
inovex GmbH                        24
FlixMobility Tech GmbH             23
Adevina                            21
Alexander Thamm GmbH               20
SENEC GmbH                         17
T-Systems on site services GmbH    12
Deutsche Post DHL                  12
Carl Zeiss SMT GmbH                10
scieneers GmbH                     10
Deutsche Post AG                   10
Octopus Energy Germany GmbH        10
Flix SE                             9
Delivery Hero                       9
DB Systel                           9
Klarna Bank AB                      9
leboncoin                           9
alcemy GmbH                         8
Evonik Operations GmbH              8
BuildingMinds GmbH                  7
Name: count, dtype: int64

In [42]:
all_infos_bcc["Organisation"] = all_infos_bcc["Organisation"].fillna("ZZZ-kA.").map(lambda x: x.strip())
all_infos_bcc["Land"] = all_infos_bcc["Land"].fillna("ZZZ-kA.").map(lambda x: x.strip())
all_infos_bcc["Stadt"] = all_infos_bcc["Stadt"].fillna("ZZZ-kA.").map(lambda x: x.strip())

In [43]:
all_infos_bcc["sort"] = 0
all_infos_bcc.loc[(
                  (all_infos_bcc["Teilnehmende Person"] == "ZZZ-kA.") | 
                  (all_infos_bcc["Organisation"] == "ZZZ-kA.") | 
                  (all_infos_bcc["Land"] == "ZZZ-kA.") | 
                  (all_infos_bcc["Stadt"] == "ZZZ-kA.")
), "sort"] = 1

In [44]:
def remove_random(df, number_to_select, wkday):
    sel = random.sample(list(df.index), number_to_select)
    sampled = df.loc[sel]
    # make sure speakers on days are in selection for day
    delta = set(speaker_days[wkday]) - set(sampled["Ticket Full Name"])
    if delta:
        add_again = df[df["Ticket Full Name"].isin(delta)]
        if add_again.size:
            sampled = df.loc[sel + list(add_again.index)]
    return sampled

In [45]:
df_day = all_infos_bcc[all_infos_bcc["Monday"]]
cnt = 1305
monday = remove_random(df_day, cnt, 0)
monday.describe()

             index         sort
count  1305.000000  1305.000000
mean    774.527969     0.115709
std     486.482436     0.319998
min       0.000000     0.000000
25%     360.000000     0.000000
50%     710.000000     0.000000
75%    1183.000000     0.000000
max    1811.000000     1.000000

In [46]:
df_day = all_infos_bcc[all_infos_bcc["Tuesday"]]
cnt = 1200
tuesday = remove_random(df_day, cnt, 1)
tuesday.describe()

             index         sort
count  1204.000000  1204.000000
mean    771.836379     0.114618
std     484.322841     0.318693
min       0.000000     0.000000
25%     360.750000     0.000000
50%     702.500000     0.000000
75%    1177.250000     0.000000
max    1811.000000     1.000000

In [47]:
df_day = all_infos_bcc[all_infos_bcc["Wednesday"]]
cnt = 1190
wednesday = remove_random(df_day, cnt, 2)
wednesday.describe()

             index         sort
count  1194.000000  1194.000000
mean    803.860972     0.121441
std     485.932795     0.326775
min       0.000000     0.000000
25%     384.500000     0.000000
50%     749.000000     0.000000
75%    1222.500000     0.000000
max    1811.000000     1.000000

In [48]:
monday.sort_values(["sort"], inplace=True)
monday.index = range(1,monday.shape[0]+1)
tuesday.sort_values(["sort"], inplace=True)
tuesday.index = range(1,tuesday.shape[0]+1)
wednesday.sort_values(["sort"], inplace=True)
wednesday.index = range(1,wednesday.shape[0]+1)


monday[["Teilnehmende Person", "Organisation", "Land", "Stadt", "Art der Teilnahme"]].to_excel("Teilnehmerliste-monday.xlsx", index=True)
tuesday[["Teilnehmende Person", "Organisation", "Land", "Stadt", "Art der Teilnahme"]].to_excel("Teilnehmerliste-tuesday.xlsx", index=True)
wednesday[["Teilnehmende Person", "Organisation", "Land", "Stadt", "Art der Teilnahme"]].to_excel("Teilnehmerliste-wednesday.xlsx", index=True)

In [49]:
for dfr in (monday, tuesday, wednesday):
    for col in ["Teilnehmende Person", "Organisation", "Land", "Stadt", ]:
        print(col, (dfr[col] != "kA.").sum())
    print("all good", (dfr[~(
                  (dfr["Teilnehmende Person"] == "ZZZ-kA.") | 
                  (dfr["Organisation"] == "ZZZ-kA.") | 
                  (dfr["Land"] == "ZZZ-kA.") | 
                  (dfr["Stadt"] == "ZZZ-kA.")
    )
                 ]).shape[0])

Teilnehmende Person 1305
Organisation 1305
Land 1305
Stadt 1305
all good 1154
Teilnehmende Person 1204
Organisation 1204
Land 1204
Stadt 1204
all good 1066
Teilnehmende Person 1194
Organisation 1194
Land 1194
Stadt 1194
all good 1049

In [50]:
dfr[dfr[(dfr["Stadt"] != "kA.") & (dfr["Land"] == "ZZZ-kA.") ]]

,index,Reference,Ticket Full Name,Ticket Company Name,Country of residence,Art der Teilnahme,Monday,Tuesday,Wednesday,City,...,Company Name,Address 1,Address 2,Address 3,address,Teilnehmende Person,Organisation,Land,Stadt,sort
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1191,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1193,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## PSF Report

In [57]:
attendees_list['Country of residence'].groupby(attendees_list['Country of residence']).count()

Country of residence
Afghanistan                  1
Australia                    1
Austria                     20
Belgium                     21
Bosnia and Herzegovina       1
Canada                       6
Croatia                      3
Cyprus                       3
Czechia                     12
Denmark                     11
Ecuador                      1
Estonia                      3
Ethiopia                     2
Finland                      4
France                      27
Germany                   1000
Ghana                        1
Hungary                      3
India                       11
Ireland                      3
Israel                       6
Italy                       11
Japan                        2
Kenya                        1
Lithuania                    7
Luxembourg                   1
Malta                        3
Nepal                        1
Netherlands                 23
Nicaragua                    1
Nigeria                      2
North Macedonia              2
Norway                      12
Poland                      16
Portugal                     6
Romania                      4
Rwanda                       1
Serbia                       1
Singapore                    1
Slovenia                     7
Spain                       17
Sweden                       7
Switzerland                 25
Turkey                       3
Ukraine                      6
United Kingdom              22
United States               14
Vietnam                      1
Name: Country of residence, dtype: int64

In [60]:
attendees_list["What's your gender? Select or type below"].groupby(
attendees_list["What's your gender? Select or type below"]
).count()

What's your gender? Select or type below
I do not want to disclose                                21
I do not want to disclose, Apache Attack Helicopter       1
female                                                  349
male                                                   1014
male, MALE                                                1
male, male                                                1
non-binary                                                8
Name: What's your gender? Select or type below, dtype: int64

In [73]:
pd.options.display.max_rows = 999
attendees_list[attendees_list["What's your gender? Select or type below"].isna()].groupby("Ticket").count()

,Number,Ticket Created Date (+02:00 Berlin),Ticket Last Updated Date (+02:00 Berlin),Ticket Full Name,Ticket First Name,Ticket Last Name,Ticket Email,Ticket Company Name,Ticket Phone Number,Event,...,Would you like a T-Shirt?,seat,online,social event,print badge,sponsor,Art der Teilnahme,Monday,Tuesday,Wednesday
Ticket,,,,,,,,,,,,,,,,,,,,,
Additional Speaker (on site),1,1,1,1,1,1,1,0,0,1,...,0,1,0,0,1,0,1,1,1,1
Business (in-person),91,91,91,90,90,90,90,77,0,91,...,74,91,0,0,91,0,91,91,91,91
Business (online access),47,47,47,47,47,46,47,40,0,47,...,9,0,47,0,0,0,47,47,47,47
Business Late Bird (in-person),9,9,9,9,9,9,9,9,0,9,...,3,9,0,0,9,0,9,9,9,9
Business Late Bird (online access),91,91,91,90,90,90,90,82,0,91,...,14,0,91,0,0,0,91,91,91,91
Business Late Bird on DESK,1,1,1,1,1,1,1,0,0,1,...,0,0,0,0,0,0,1,1,1,1
Individual (in-person),10,10,10,10,10,10,10,10,0,10,...,8,10,0,0,10,0,10,10,10,10
Individual (in-person) Childcare,2,2,2,2,2,2,0,2,0,2,...,0,2,0,0,2,0,2,2,2,2
Individual (in-person) Grant,2,2,2,2,2,2,2,1,0,2,...,1,2,0,0,2,0,2,2,2,2
Individual (online access),7,7,7,7,7,7,7,0,0,7,...,2,0,7,0,0,0,7,7,7,7
Individual Late Bird (in-person),1,1,1,1,1,1,1,1,0,1,...,0,1,0,0,1,0,1,1,1,1
Individual Late Bird (online access),12,12,12,12,12,11,12,0,0,12,...,1,0,12,0,0,0,12,12,12,12
Individual ON DESK,2,2,2,2,2,2,2,0,0,2,...,0,0,0,0,0,0,2,2,2,2
Online Access Grant,22,22,22,18,18,17,18,0,0,22,...,11,0,22,0,0,0,22,22,22,22
Organizer,1,1,1,1,1,1,1,0,0,1,...,0,1,0,1,1,0,1,1,1,1
Speaker (on site),15,15,15,15,15,15,15,15,0,15,...,14,15,0,0,15,0,15,15,15,15
Speaker (remote),2,2,2,1,1,1,1,1,0,2,...,1,0,2,0,0,0,2,2,2,2
Sponsor Day Pass Monday,11,11,11,11,11,11,11,1,0,11,...,4,11,0,0,11,0,11,11,11,11
Sponsor Day Pass Tuesday,11,11,11,11,11,11,11,0,0,11,...,2,0,0,0,11,0,11,11,11,11
Sponsor Day Pass Wednesday,9,9,9,9,9,9,9,0,0,9,...,0,0,0,0,9,0,9,9,9,9
Sponsor Discounted Extra Ticket,21,21,21,21,21,21,21,21,0,21,...,14,21,0,0,21,21,21,21,21,21
Sponsor Discounted Ticket (online access),2,2,2,2,2,2,2,1,0,2,...,0,0,2,0,0,0,2,2,2,2
Sponsor Ticket,13,13,13,13,13,13,13,13,0,13,...,6,13,0,0,13,0,13,13,13,13
Student (in-person),12,12,12,12,12,12,12,11,0,12,...,7,12,0,0,12,0,12,12,12,12
Student (online access),4,4,4,4,4,4,4,3,0,4,...,0,0,4,0,0,0,4,4,4,4
Student Late Bird (in-person),2,2,2,2,2,2,2,2,0,2,...,1,2,0,0,2,0,2,2,2,2
Student Late Bird (online access),10,10,10,10,10,9,10,5,0,10,...,1,0,10,0,0,0,10,10,10,10
Student ON DESK,1,1,1,1,1,1,1,0,0,1,...,0,0,0,0,0,0,1,1,1,1
Student-Individual Upgrade,1,1,1,1,1,1,1,0,0,1,...,0,0,0,0,0,0,1,1,1,1
Volunteer (in-person),7,7,7,7,7,7,7,0,0,7,...,3,7,0,0,7,0,7,7,7,7

In [58]:
attendees_list.columns

Index(['Number', 'Ticket Created Date (+02:00 Berlin)',
       'Ticket Last Updated Date (+02:00 Berlin)', 'Ticket',
       'Ticket Full Name', 'Ticket First Name', 'Ticket Last Name',
       'Ticket Email', 'Ticket Company Name', 'Ticket Phone Number', 'Event',
       'Void Status', 'Price', 'Discount Status', 'Ticket Reference', 'Tags',
       'Unique Ticket URL', 'Unique Order URL', 'Order Reference',
       'Order Name', 'Order Email', 'Order Phone Number',
       'Order Discount Code', 'Order IP', 'Order Created Date (+02:00 Berlin)',
       'Order Completed Date (+02:00 Berlin)', 'Order Paid With',
       'Order Amount', 'Order Amount Refunded', 'Payment Reference', 'Source',
       'Source Type', 'vCard URL', 'Are you a member of Pyladies',
       'Child's age', 'Child's name', 'Code of Conduct',
       'Country of residence', 'Data Surprise', 'Dietary restrictions',
       'Do you have any additional accessibility needs?',
       'Do you prefer working', 'Github',
       'Hereby I confirm being entitled to an Individual ticket',
       'How do you like your water?',
       'How far are  you traveling to come to Berlin?',
       'If you identify as a member of an underrepresented group (URG) please let us know more below, otherwise skip',
       'If you could choose one superpower:',
       'If you had to play something, would you rather play:', 'LinkedIn',
       'Mastodon',
       'May we share your name, email, job title, and company with designated sponsor groups?',
       'Position/Role', 'Pronouns for badge', 'Twitter',
       'What's your gender? Select or type below',
       'When do you need childcare?',
       'Which better describes your area of Python?',
       'Which Python data type do you like the most?',
       'Would you like a T-Shirt?', 'seat', 'online', 'social event',
       'print badge', 'sponsor', 'Art der Teilnahme', 'Monday', 'Tuesday',
       'Wednesday'],
      dtype='object')

## Speaker Stats

In [80]:
speakers = pd.read_csv("/Users/hendorf/Downloads/pyconde-pydata-berlin-2023_speakers-2.csv")

In [81]:
speakers.shape

(125, 18)

In [82]:
speakers.columns

Index(['ID', 'Name', 'E-mail', 'Biography', 'Picture', 'Proposal IDs',
       'Proposal titles', 'Company / Institute', 'Position / Job',
       'Twitter handle', 'Github', 'LinkedIn', 'Homepage',
       'I identify as a member of an underrepresented group',
       'Country of residence', 'I will present my talk on site',
       'I have read and agree to the Code of Conduct',
       'I agree to follow the health guidelines as set out by the organizers / venue'],
      dtype='object')

In [85]:
speakers.groupby('I identify as a member of an underrepresented group').count()

,ID,Name,E-mail,Biography,Picture,Proposal IDs,Proposal titles,Company / Institute,Position / Job,Twitter handle,Github,LinkedIn,Homepage,Country of residence,I will present my talk on site,I have read and agree to the Code of Conduct,I agree to follow the health guidelines as set out by the organizers / venue
I identify as a member of an underrepresented group,,,,,,,,,,,,,,,,,
Yes,17,17,17,17,12,17,17,17,17,12,12,15,12,17,17,17,17

In [89]:
attendees_list[attendees_list["Ticket"].map(lambda x: "speaker" in x.lower())]["What's your gender? Select or type below"].groupby(
attendees_list["What's your gender? Select or type below"]
).count()

What's your gender? Select or type below
I do not want to disclose     1
female                       21
male                         58
Name: What's your gender? Select or type below, dtype: int64

In [96]:
attendees_list[attendees_list["Ticket"].map(lambda x: "speaker" in x.lower())]["Are you a member of Pyladies"].map(lambda x: "yes" in str(x)).sum()

6